- name: Installer Nginx
  apt:
    name: "{{ nginx_package }}"
    state: present
    update_cache: yes
  become: yes

- name: Copier la configuration Nginx
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: Redémarrer Nginx

- name: Démarrer et activer Nginx
  service:
    name: "{{ nginx_service }}"
    state: started
    enabled: yes
  become: yes

